@import "tailwindcss";

.font-jakarta {
  font-family: var(--font-jakarta);
  font-weight: 100;
}

.font-dm {
  font-family: var(--font-dm);
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.4s ease-out forwards;
}